body{
    background-color: #CDB5CD;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
	margin: 0 auto;
    min-width: 800px;
}
.header{
    margin: 1rem auto 0 auto;
    height: 290px;
    background-color: white;
    border-radius: 12px;
    text-overflow: clip;
}
.picture{
    float: left;
    width: 250px;
    height: 250px;
    margin-top: 1rem;
    margin-left: 2rem;
    background-image: url("../img/picture.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    border-width: 2px;
    border-color: #333;
    border-style: solid;
    border-radius: 180px;
}
.name{
    float: left;
    background-color: white;
    margin-top: 5rem;
    margin-left: 1rem;
    font-size: 400%;
    color: #551A8B;
}
.profession{
    margin: 1rem 0 0 0;
    font-size: 50%;
    color: #551A8B;
}
.name p{
    width: 100%;
    margin: 0;
}
.content{
    float: left;
    width: 100%;
    margin: 0 auto 1rem auto;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    transition: all .2s linear;
    max-width: 1200px;
    padding-bottom: 10px;
}
.topic{
    width: 90%;
    margin: 1rem auto 0 auto;
    color: #333;
    
}
.list{
    margin-bottom: 2rem;
    margin-left: 3rem;
}
.title{
    width: 30%;
    margin-top: 0;
    margin-bottom: 1rem;
}
.title h3{
    margin: 0;
}
.description{
    width: 50%;
    margin-left: 1rem;
}
.description p{
    width:100%;
    margin-top: 0;
}
p{
    width:60%;
}
td p{
    width:100%;
    margin-top: 0;
}

/* navbar */
.navbar {
    float: left;
    width: 100%;
    height: 45px;
    max-width: 1200px;
    margin: 10px auto 10px auto;
    overflow: hidden;
    border-radius: 12px;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #551A8B;
}